@model IPOTEKA.UA.Models.Bank

@{
    ViewBag.Title = "Банк";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link href="~/Content/Forms.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name, new { placeholder = @Html.DisplayNameFor(m => m.Name) })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.ValidationSummary(true)

    <p><b>Продукти Банку</b></p>

    if (Model.Products != null && Model.Products.Count > 0)
    {
        int j = 0;
        <table id="tbProduct" border="0">
            <tr>
                <th>Назва продукту</th>
                <th width="15%">% ставка</th>
                <th width="15%">Комісія, %</th>
                <th>Макс. сума кредиту, грн.</th>
                <th>Макс. термі кредитування, міс.</th>
            </tr>
            @foreach (IPOTEKA.UA.Models.Product b in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DropDownListFor(model => model.Products[j].Name, new SelectList(ViewBag.dicProducts, "Value", "Value"), "Тип продукту")
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Products[j].Rate)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Products[j].Commission)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Products[j].MaxSumCred)
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Products[j].MaxTermCred)
                    </td>
                </tr>
                j++;
            }
        </table>
    }
    <p style="margin: 0; margin-top: 10px">
        <input type="submit" name="button" value="+" style="" />
    </p>

    <div style="text-align:right; clear:both; margin:auto; margin-bottom:20px;">
        <input id="back" type="submit" name="button" value="Назад" class="btn Back" />
        <input id="save" type="submit" name="button" value="Зберегти" class="btn Add" />
    </div>
}

