@model IPOTEKA.UA.Models.Bank
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
@{
    ViewBag.Title = "Банк";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link href="~/Content/Forms.css" rel="stylesheet" />
@{
    int j = 0;
}

@using (Html.BeginForm())
{

    <div class="editor-field">
        @Html.TextBoxFor(model => model.Name, new { placeholder = @Html.DisplayNameFor(m => m.Name) })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    @Html.ValidationSummary(true)

    <p><b>Продукти Банку</b></p>

    <table id="tbProduct" border="0">
        <tr>
            <th>Назва продукту</th>
            <th width="15%">% ставка</th>
            <th width="15%">Комісія, %</th>
            <th>Макс. сума кредиту, грн.</th>
            <th>Макс. термі кредитування, міс.</th>
        </tr>
        @if (Model.Products != null && Model.Products.Count > 0)
        {
            foreach (IPOTEKA.UA.Models.ProductBank b in Model.Products)
            {
                Html.RenderPartial("Products", b);

                @*<tr>
                        @Html.Label(@j.ToString())
                        <td>
                            @Html.DropDownListFor(model => model.Products[j].RelProduc, new SelectList(ViewBag.dicProducts, "ProductID", "Name"), "Тип продукту")
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Products[j].Rate)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Products[j].Commission)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Products[j].MaxSumCred)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Products[j].MaxTermCred)
                        </td>
                        <td>
                            @Html.ActionLink("видалити", "CreateBank", new { TempId = j })
                            <input type="submit" name="button" value="-" style="" id="delete2" />
                            <input type="button" name="button" value="del" style="" id="delete" />

                        </td>
                    </tr>*@
                j++;
            }
        }
    </table>

    <p style="margin: 0; margin-top: 10px">
        @*@Html.ActionLink("+", "BlankEditorRow", null, new { id = "addItem" })*@
        <input type="button" value="+" id="addProductBank" />
        @*<input type="submit" name="button" value="+" @ />*@
    </p>

    <div style="text-align:right; clear:both; margin:auto; margin-bottom:20px;">
        <input id="back" type="submit" name="button" value="Назад" class="btn Back" />
        <input id="save" type="submit" name="button" value="Зберегти" class="btn Add" />
    </div>

}



<script>
    $("#addProductBank").click(function () {
        $.ajax({
            url: '@Url.Action("AddNewProductBankElement", "Admin")',
            cache: false,
            success: function (html) { $("#tbProduct").append(html); }
        });
        return false;
    })

    //$("#addItem").click(function () {
    //    alert(this.href);
    //    $.ajax({
    //        url: this.href,
    //        cache: false,
    //        success: function (html) { $("#tbProduct").append(html); }
    //    });
    //    return false;
    //});

    $('#tbProduct').on('click', '#Remove', function () {
        $(this).parents("tr:first").remove();
        return false;
    })
</script>
