@model IPOTEKA.UA.Models.User
@{
    Layout = "~/Views/_BasicLayout.cshtml";
    ViewBag.Title = "Дані користувача";
}
@*<link href="~/Content/Admin.css" rel="stylesheet" />*@
<link href="~/Content/Forms.css" rel="stylesheet" />

@*<div id="divLoginInfo">
        <div>
            <label>
                Вітаю: <span>@ViewBag.PIB</span>
            </label>
        </div>
        <div>
            <label>
                Роль: <span>@ViewBag.Role</span>
            </label>
        </div>
        <div>
            @Html.ActionLink("[Вихід]", "Exit", "Admin", null, new { style = "text-decoration: none;" })
        </div>
    </div>*@
<div style="width: 350px; margin:auto">
    @using (Html.BeginForm("PreviewUser", "Admin", FormMethod.Post))
    {
        @Html.HiddenFor(model => model.UserId)

        <table id="tbElements">
            <tr>
                <th colspan="2">
                    Дані користувача
                </th>
            </tr>
            <tr>
                <td>
                    @Html.DisplayName("ПІБ")
                </td>
                <td>
                    @Html.DisplayFor(model => model.PIB)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Login)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Login, new { placeholder = @Html.DisplayNameFor(m => m.Login) })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Password)
                </td>
                <td>
                    **********
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Role)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Role)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Email)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Email, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
                </td>
            </tr>
        </table>
        <div style="text-align:right; clear:both; margin:auto; margin-bottom:20px;">
            <input id="back" type="submit" name="button" value="Назад" class="btn Back" />
            <input id="save" type="submit" name="button" value="Редагувати" class="btn Edit" />
        </div>
    }
</div>



