@model IPOTEKA.UA.Models.Bank

@{
    ViewBag.Title = Model.Name + " [Перегляд]";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link href="~/Content/Forms.css" rel="stylesheet" />

<h1>@Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.BankID)
    <p><b>Продукти банку:</b></p>

    if (Model.Products != null && Model.Products.Count > 0)
    {
        int j = 0;
        <table id="tbElements" border="0">
            <tr>
                <th>Назва продукту</th>
                <th>Cтавка, %</th>
                <th>Комісія, %</th>
                <th>Макс. сума кред., грн.</th>
                <th>Макс. термі кред., міс.</th>
            </tr>
            @foreach (IPOTEKA.UA.Models.ProductBank b in Model.Products)
            {
                <tr>
                    <td>
                        @{
                var a = new IPOTEKA.UA.Repostory.MyDbContext();
                        }
                        @Html.DisplayFor(model => a.Products.Find(model.Products[j].RelProduc).Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Products[j].Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Products[j].Commission)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Products[j].MaxSumCred)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Products[j].MaxTermCred)
                    </td>
                </tr>
                j++;
            }
        </table>
    }
    <div style="text-align:right; clear:both; margin:auto; margin-bottom:20px;">
        <input id="back" type="submit" name="button" value="Назад" class="btn Back" />
        <input id="save" type="submit" name="button" value="Редагувати" class="btn Edit" />
    </div>
}
