@model IPOTEKA.UA.Models.ProductBank

<tr>
    @using (Html.BeginCollectionItem("Products"))
    {
        @Html.HiddenFor(model => model.ProductBankID)
        <td>
            @{
        var a = new IPOTEKA.UA.Repostory.MyDbContext();
            }
            @*@Html.DisplayFor(model => a.Products.Find(model.Products[j].RelProduc).Name)*@
            @Html.DropDownListFor(model => model.RelProduct, new SelectList(a.Products.ToList(), "ProductID", "Name"), "Тип продукту")
        </td>
        <td>
            @Html.TextBoxFor(model => model.Rate)
        </td>
        <td>
            @Html.TextBoxFor(model => model.Commission)
        </td>
        <td>
            @Html.TextBoxFor(model => model.MaxSumCred)
        </td>
        <td>
            @Html.TextBoxFor(model => model.MaxTermCred)
        </td>
        <td>
            <button type="button" id="Remove"><i class="fa fa-remove" style="color:#e43b3b"></i></button>
        </td>
    }
</tr>

