<!DOCTYPE html>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<link href="@Url.Content("~/Content/new.css")" rel="stylesheet" type="text/css" />
<link href="~/Content/FAQ.css" rel="stylesheet" />
<link href="~/Content/Thems.css" rel="stylesheet" />

<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107709348-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-107709348-1');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <meta name="viewport" content="maximum-scale=1.0 minimum-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="container">
        <div id="header">
            <div style="float:left">
                <a href="@Url.Action("Index", "Home")">
                    <img src="~/Image/Logo2.png" style="height:70px" alt="Головна"/>
                </a>
            </div>
            <div>
                <ul class="main-menu">
                    <li>
                        @*<img src="~/Image/Logo2.png" style="margin-top:-20px;; height:70px" />*@
                    </li>
                    <li class="@(@ViewBag.Page == "About" ? "active" : null)">
                        @Html.ActionLink("Про нас", "Index", "About")
                    </li>
                    <li class="@(@ViewBag.Page == "Ipoteka" ? "active dropdown" : "dropdown")">
                        @Html.ActionLink("Іпотечне кредитування", "Index", "Ipoteka", null, new { @class = "dropbtn" })
                        <div class="dropdown-content">
                            @Html.ActionLink("Банки", "Index", "Banks")
                            @Html.ActionLink("Калькулятор", "Index", "Calculator")
                            @Html.ActionLink("Поширені питання", "Index", "FAQ")
                        </div>
                    </li>

                    <li class="@(@ViewBag.Page == "Application" ? "active" : null)">
                        @Html.ActionLink("Залишити заявку", "Index", "Application")
                    </li>
                    <li class="@(@ViewBag.Page == "Personal" ? "active" : null)">
                        @Html.ActionLink("Особистий кабінет", "Index", "Personal")
                    </li>
                </ul>

            </div>
        </div>
        <div id="body">
            @RenderBody()
        </div>
        <div id="footer">
            <table style="margin:auto">
                <tr>
                    <td>
                        <div style="float:left; padding: 20px;">
                            @Html.ActionLink("Головна", "Index", "Home")
                        </div>
                    </td>
                    <td>
                        <div style="float:left; padding: 20px;">
                            @Html.ActionLink("Про нас", "Index", "About")
                        </div>
                    </td>
                    <td>
                        <div style="padding: 20px; float:left;">
                            @Html.ActionLink("Іпотечне кредитування", "Index", "Ipoteka")
                            <div style="padding-top:10px">
                                @Html.ActionLink("Банки", "Index", "Banks")
                            </div>
                            <div style="padding-top:10px">
                                @Html.ActionLink("Калькулятор", "Index", "Calculator")
                            </div>
                            <div style="padding-top:10px">
                                @Html.ActionLink("Поширені питання", "Index", "FAQ")
                            </div>
                        </div>
                    </td>
                    <td>
                        <div style="padding: 20px; float:left;">
                            @Html.ActionLink("Залишити заявку", "Index", "Application")
                        </div>
                    </td>
                    <td>
                        <div style="padding: 20px; float:left;">
                            @Html.ActionLink("Особистий кабінет", "Index", "Personal")
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
