@model IPOTEKA.UA.Models.User
@{
    ViewBag.Title = "Авторизація | IPOTEKA-UA";
    Layout = "~/Views/_BasicLayout.cshtml";

}

<link href="~/Content/Forms.css" rel="stylesheet" />

@using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @Id = "FormLogin" }))
{
    <div>
        <div style="margin: 5px auto;">
            @Html.TextBoxFor(model => model.Login, new { placeholder = @Html.DisplayNameFor(m => m.Login) })
            <div id="MessageError">
                @Html.ValidationMessageFor(model => model.Login, null, new {@id = "Validation" })
            </div>
        </div>

        <div style="margin: 5px auto;">
            @Html.PasswordFor(model => model.Password, new { placeholder = @Html.DisplayNameFor(m => m.Password) })
            <div id="MessageError">
                @Html.ValidationMessageFor(model => model.Password, null, new { @id = "Validation" })
            </div>
        </div>

        <div style="margin: 5px auto;">
            @Html.CheckBoxFor(model => model.Remember) <a>Запам'ятати мене</a>  @*@Html.DisplayNameFor(model => model.Remember)*@
        </div>
    </div>
  
    <div style="text-align:right;">
        <input type="submit" class="btn Ok" value="Увійти" style="width:100%" />
    </div>
}




