@{
    ViewBag.Title = "Про нас | IPOTEKA-UA";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <div style="font-family:Tahoma" id="Info">
        <div id="Info1">
            <div style="background: #4a4a4a; color: #ffffff; ">
                <h1 style="padding:10px;">Як це працює ?</h1>
            </div>
            <div style="height: 40px; width: 70%; margin: auto; background: #4a4a4a; margin-top:70px;">

            </div>

            @*<div style="background:#00ffff; float:left">
                    <a href="@Url.Action("Index","Calculator")">
                        <div class="circle"><i class="fa fa-percent"></i></div>
                    </a>
                </div>

                <div style="height:50px; width:200px; background:#808080">

                </div>*@

            @*<div style="background:#00ffff">
                    <a href="@Url.Action("Index","Calculator")">
                        <div class="circle"><i class="fa fa-percent"></i></div>
                    </a>
                </div>*@

            <table border="0" style="text-align: center; margin-top: -80px">
                <tr>
                    <td width="30%">
                        <a href="@Url.Action("Index","Calculator")">
                            <div class="circle"><i class="fa fa-percent"></i></div>
                        </a>
                    </td>
                    <td width="30%">
                        <a href="@Url.Action("Index","Ipoteka")">
                            <div class="circle"><i class="fa fa-reorder"></i></div>
                        </a>
                    </td>
                    <td width="30%">
                        <a href="@Url.Action("Index","Application")">
                            <div class="circle"><i class="fa fa-id-card-o"></i></div>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px; vertical-align: top">
                        Розрахуйте % ставку, платіж, а також перегляньте графік платежів.
                    </td>
                    <td style="padding: 20px; vertical-align: top">
                        Оберіть Продукт, термін та суму.
                        <br />Перегляньте пропозиції та @Html.ActionLink("подайте", "Index", "Application") заявку.
                    </td>
                    <td style="padding: 20px; vertical-align: top">
                        Заповніть мінімум необхідної інформації та очікуйте на дзвінок менеджера, який повідомить Вам деталі.
                    </td>
                </tr>
            </table>

            @*<p style="margin-left:-25px;"><b><i class="fa fa-vcard-o"></i> Персональні дані</b></p>*@

            @*<p style="margin-left:-25px;"><b>Передача персональних даних третім сторонам</b></p>*@

            @*<p style="margin-left:-25px;"><b> Мета збору та обробки персональних даних</b></p>*@

        </div>

        <div id="Info2">

            <div style="background: #4a4a4a; color: #ffffff; ">
                <h1 style="padding:10px;">Інформація</h1>
            </div>

            <table>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-info"></i></div>
                    </td>
                    <td>
                        <p>
                            Даний сайт створено з метою висвітлення потенційним позичальникам банків, інформації щодо іпотечного кредитування, адже давно не секрет, що іпотека - це серйозно та надовго. @*<i class="fa fa-smile-o"></i>*@
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-star"></i></div>
                    </td>
                    <td>
                        <p>
                            Переглядаючи різні пропозиції банків на нашому сайті, Ви зможете обрати саме той варіант, що задовільнить Вас за усіма вимогами. Також Ви зможете обрати найдешевшу пропозицію на ринку іпотечного кредитування.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-money"></i></div>
                    </td>
                    <td>
                        <p>
                            Усі послуги цього сайту є <b>БЕЗКОШТОВНИМИ!.</b>
                        </p>
                    </td>
                </tr>
            </table>

        </div>

        <div id="Info3">

            <div style="background: #4a4a4a; color: #ffffff; ">
                <h1 style="padding:10px;">Конфіденційність</h1>
            </div>
            <table>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-address-card-o"></i></div>
                    </td>
                    <td>
                        <p>
                            Ми збираємо лише ті персональні дані, що спеціально та добровільно були надані Вами у процесі заповнення заявки на банківську послугу, а також обмежуємся збиранням мінімуму інформації, яка є необхідною для подання Вашої заявки на отримання банківської послуги.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-users"></i></div>
                    </td>
                    <td>
                        <p>
                            Ми не передаємо персональні дані третім особам, крім випадків передачі інформації у банк, що надає запитувану Вами послугу.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="circle small"><i class="fa fa-handshake-o"></i></div>
                    </td>
                    <td>
                        <p>
                            Метою збору та обробки персональних даних є виконання Вашої заявки на отримання банківської послуги.
                        </p>
                    </td>
                </tr>
            </table>

            @*<p style="margin-left:-25px;"><b><i class="fa fa-vcard-o"></i> Персональні дані</b></p>*@

            @*<p style="margin-left:-25px;"><b>Передача персональних даних третім сторонам</b></p>*@

            @*<p style="margin-left:-25px;"><b> Мета збору та обробки персональних даних</b></p>*@

        </div>
    </div>
</div>

