@model IPOTEKA.UA.Models.Application
<link href="~/Content/test.css" rel="stylesheet" />
@using (Html.BeginForm("Index", "Application", new { step = @ViewBag.Step }, FormMethod.Post, new { @class = "form-style-8" }))
{
    @Html.HiddenFor(x => Model.ApplicationId)
    @Html.HiddenFor(x => Model.CreateUserId)
    @Html.HiddenFor(x => Model.CreateDateTime)
    @Html.HiddenFor(x => Model.ProductType)
    @Html.HiddenFor(x => Model.CreditSum)
    @Html.HiddenFor(x => Model.Termin)
    @Html.HiddenFor(x => Model.Schema)
    @Html.HiddenFor(x => Model.City)

    <div>
        <div>
            @Html.TextBoxFor(model => model.Sname, new { placeholder = @Html.DisplayNameFor(m => m.Sname) })
            <div>
                @Html.ValidationMessageFor(model => model.Sname)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Ім'я" })
            <div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = @Html.DisplayNameFor(m => m.PhoneNumber) })
            <div>
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Email, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
            <div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Comments, new { placeholder = @Html.DisplayNameFor(m => m.Comments) })
            <div>
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div>
            @Html.CheckBoxFor(model => model.Zgoda) <b> <a id="ShowModal" href="#">Згода</a> на обробку персональних даних</b>
            <div>
                @Html.ValidationMessageFor(model => model.Zgoda)
            </div>
        </div>

    </div>

    <div style="text-align:right;">
        <input type="submit" value="Продовжити" />
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Заява про надання згоди на обробку даних</h2>
            <p>
                Фізична особа, що заповняє Заявку на замовлення Продукту «Кредит готівкою», підтверджує, що є власником персональних даних, вказаних у зазначеній Заявці , і, відповідно до Закону України «Про захист персональних даних» від 01.06.2010 року № 2296-VI (далі – Закон), даю згоду ТОВ "Фінлайн" на їх обробку, збір, реєстрацію, накопичення, зберігання, адаптування, зміну, поновлення, використання та поширення щодо інформації, яка стосується моїх: прізвища, ім’я, по-батькові, статі, номера документу, що посвідчує особу (паспорту), ідентифікаційного коду, віку, освіти, місця роботи та загального трудового стажу, розміру прибутків, місця проживання, зацікавленості та/або потреби у фінансових продуктах/послугах, контактні дані (включаючи телефон, адресу електронної пошти) з метою забезпечення реалізації відносин по отриманню мною оптимальних фінансових (в т.ч. кредитних) продуктів/послуг.
                Погоджуюсь, що обсяг наданих мною персональних даних включає в себе інформацію/відомості, що дозволяють ідентифікувати мене та підтверджую, що вони були надані мною відносно себе та є точними і достовірними.
                Підтверджую, що згода на обробку моїх персональних даних є безумовною, безвідкличною та не обмежена строком дії. Мені відомо про мої права, як суб’єкта персональних даних відповідно до Закону.
                Заповнюючи дану Заявку, я даю згоду ТОВ "Фінлайн" на перевірку зазначеної в даній Заявці інформації та не заперечую про передачу для можливого необхідного з’ясування даної інформації третім особам, під якими розумію: колекторські компанії, оператори мобільного та поштового зв’язку, банки з усіма видами обробки персональних даних, які банк буде мати право здійснювати з цими даними, інші фізичні та/або юридичні особи.
                Не заперечую щодо перевірки інформації у відповідних бюро кредитних історій з метою з’ясування відомостей, які стосуються виконання мною взятих на себе зобов’язань по договорам (в т.ч. кредитним), у випадку наявності таких, тим самим розуміючи що об’єм інформації, яка буде перевірятися, може включати в себе інформацію, яка стосується банківської таємниці, і з’ясування якої буде такою, яка буде повною та достатньою для розуміння мого соціального, майнового стану, платоспроможності та несення можливої подальшої майнової відповідальності, у випадку її необхідності.
            </p>
        </div>

    </div>
}

<script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("ShowModal");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
