@model IPOTEKA.UA.Models.Application
<link href="~/Content/test.css" rel="stylesheet" />
@using (Html.BeginForm("Index", "Application", new { step = @ViewBag.Step }, FormMethod.Post, new { @class = "form-style-8" }))
{
    @Html.HiddenFor(x => Model.ApplicationId)
    @Html.HiddenFor(x => Model.CreateDateTime)
    @Html.HiddenFor(x => Model.CreateUserId)
    @Html.HiddenFor(x => Model.Sname)
    @Html.HiddenFor(x => Model.Name)
    @Html.HiddenFor(x => Model.Patronymic)
    @Html.HiddenFor(x => Model.PhoneNumber)

    <div>
        <div>
            @Html.TextBoxFor(model => Model.SmsCode, new { placeholder = @Html.DisplayNameFor(m => m.SmsCode) })
            <div>
                @Html.ValidationMessageFor(model => Model.SmsCode)
            </div>
        </div>

        <div>
            @Html.DropDownListFor(model => model.ProductType, Model.Dic_product, "Тип продукту", new { @class = "unselected" })
            <div>
                @Html.ValidationMessageFor(model => model.ProductType)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => Model.CreditSum, new { placeholder = @Html.DisplayNameFor(m => m.CreditSum) })
            <div>
                @Html.ValidationMessageFor(model => Model.CreditSum)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => Model.Termin, new { placeholder = @Html.DisplayNameFor(m => m.Termin) })
            <div>
                @Html.ValidationMessageFor(model => Model.Termin)
            </div>
        </div>
    </div>










    @*<input type="checkbox" class="checkbox" id="checkbox" />
        <label for="checkbox">Я переключаю чекбокс</label>*@


    @*<div class="checkboxFour">
            <input type="checkbox" value="1" id="checkboxFourInput" name="" />
            <label for="checkboxFourInput"></label>
        </div>*@



    @*<div class="div-marge-label">
            <span>*</span> @Html.LabelFor(model => model.ProductType, new { @class = "label" })
        </div>

        <div class="div-marge">
            @Html.DropDownListFor(model => model.ProductType, Model.Dic_product, "[-----]", new { @class = "drop-down-list" })
            <div>
                @Html.ValidationMessageFor(model => model.ProductType)
            </div>
        </div>*@


    @*<div class="div-marge-label">
            @Html.LabelFor(model => model.Comments, new { @class = "label" })
        </div>

        <div class="div-marge">
            @Html.TextAreaFor(model => model.Comments, new { @class = "textarea-box" })
        </div>*@
    <div style="text-align:right;">
        <input type="submit" value="Продовжити" />
    </div>


    @*<div class="div-marge-label2">
            <span>*</span> Поля, обов'язкові до заповнення.
        </div>*@
}

<script>
    $(document).ready(function () {
        $('select').on('change', function () { //attach event handler to select's change event.
            //use a more specific selector

            $(this).toggleClass('unselected', $(this).val() === "");

            //if ($(this).val() === "") { //checking to see which option has been picked

            //    $(this).addClass('unselected');
            //} else {                   // add or remove class accordingly
            //    $(this).removeClass('unselected');
            //}

        });
    });
</script>