@model IPOTEKA.UA.Models.Application
<link href="~/Content/test.css" rel="stylesheet" />
@using (Html.BeginForm("Index", "Application", new { step = @ViewBag.Step }, FormMethod.Post, new { @class = "form-style-8" }))
{
    @Html.HiddenFor(x => Model.ApplicationId)
    @Html.HiddenFor(x => Model.CreateUserId)
    @Html.HiddenFor(x => Model.CreateDateTime)
    @Html.HiddenFor(x => Model.ProductType)
    @Html.HiddenFor(x => Model.CreditSum)
    @Html.HiddenFor(x => Model.Termin)
    @Html.HiddenFor(x => Model.Schema)
    @Html.HiddenFor(x => Model.City)

    <div>
        <div>
            @Html.TextBoxFor(model => model.Sname, new { placeholder = @Html.DisplayNameFor(m => m.Sname) })
            <div>
                @Html.ValidationMessageFor(model => model.Sname)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Name, new { placeholder = "Ім'я" })
            <div>
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.PhoneNumber, new { placeholder = @Html.DisplayNameFor(m => m.PhoneNumber) })
            <div>
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Email, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
            <div>
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div>
            @Html.TextBoxFor(model => model.Comments, new { placeholder = @Html.DisplayNameFor(m => m.Comments) })
            <div>
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </div>

        <div>
            @Html.CheckBoxFor(model => model.Zgoda, new { placeholder = @Html.DisplayNameFor(m => m.Email) })
            <div>
                @Html.ValidationMessageFor(model => model.Zgoda)
            </div>
        </div>

    </div>

    <div style="text-align:right;">
        <input type="submit" value="Продовжити" />
    </div>


    @*<div class="div-marge-label2">
            <span>*</span> Поля, обов'язкові до заповнення.
        </div>*@
}
