@model IPOTEKA.UA.Models.Application
@{
    //Layout = null;
    Layout = "~/Views/_BasicLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>

<script type="text/javascript">
    jQuery(function ($) {
        $("#PhoneNumber").mask("+380(99)-999-99-99"),
        $("#SmsCode").mask("999999"),
        $("#IPN").mask("9999999999");
    });
</script>
<body>

    @{
        ViewBag.Title = "Заявка | IPOTEKA-UA";
    }

    @Html.HiddenFor(x => Model.ApplicationId)

    @{
        int s = (int)TempData["Step"];
        {
            TempData["Step"] = TempData["Step"];
        }
        if (s <= 3)
        {
            <div style="width:650px; margin:auto;">
                <div id="step1" class="@(s >= 1 ? "step-select" : "step-unselect")">
                    Крок 1
                </div>
                <div id="step2" class="@(s >= 2 ? "step-select" : "step-unselect")">
                    Крок 2
                </div>
                <div id="step3" class="@(s >= 3 ? "step-select" : "step-unselect")" style="margin-right:0px;">
                    Крок 3
                </div>
            </div>
        }
    }

    <div style="padding-top: 15px; padding-bottom:15px; clear: both;">
        @{
            switch (s)
            {
                case 1: @Html.Partial("_PartialEtap1", Model);
                    break;
                case 2: @Html.Partial("_PartialEtap2", Model);
                    break;
                case 3: @Html.Partial("_PartialSuccess");
                    break;
            }

        }
    </div>
</body>
