@model IPOTEKA.UA.Models.Application
@*<link href="~/Content/FormElements.css" rel="stylesheet" />*@
<link href="~/Content/Slider.css" rel="stylesheet" />
<link href="~/Content/FormElements.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.maskedinput.js"></script>
@{
    ViewBag.Title = "Іпотечне кредитування | IPOTEKA-UA";
    Layout = "~/Views/_BasicLayout.cshtml";
}
<div id="ResultID">
    @using (Html.BeginForm("Index", "Ipoteka", FormMethod.Post, new { Id = "IpotekaForm" }))
    {
        <table border="0" style="margin: auto; width: 80%; background: white; box-shadow: 0px 0px 15px #b9b9b9;">
            <tr>
                <td colspan="2">
                    <div style="width:90%; margin:auto; margin-top:10px">
                        @Html.DropDownListFor(model => model.ProductType, new SelectList(ViewBag.dicProducts, "Name", "Name"), "Тип продукту")
                        <div>
                            @Html.ValidationMessageFor(model => model.ProductType)
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="50%">
                    <div id="slidecontainer" style="margin:auto">
                        <p>
                            <label style=" margin:auto;">
                                Термін кредитування: <input type="number" id="fieldTerm" class="calc termin"> місяців
                            </label>
                        </p>
                        <input type="range" min="12" max="240" value="@Model.Termin" step="1" class="slider" id="sliderTerm" name="Termin">
                    </div>
                </td>
                <td>
                    <div id="slidecontainer" style="margin:auto">
                        <p>
                            <label style=" margin:auto;">
                                Бажана сума кредиту: <input type="text" id="fieldCreditSum" class="calc suma"> грн.
                            </label>
                        </p>
                        <input type="range" min="100000" max="3000000" value="@Model.CreditSum" step="1" class="slider" id="sliderCreditSum" name="CreditSum">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="divParam">
                        <table>
                            <tr>
                                <td>
                                    Схема погашення:
                                </td>
                                <td>
                                    <div>
                                        <input id="annuity" type="radio" name="Schema" value="annuity" checked="checked"> Ануїтетна
                                        <input id="classic" type="radio" name="Schema" value="classic"> Класична
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
        </table>

        <div id="Result">
            @{
        IPOTEKA.UA.Repostory.MyDbContext m = new IPOTEKA.UA.Repostory.MyDbContext();
        List<IPOTEKA.UA.Models.Bank> BankList = m.Banks.ToList();
        List<IPOTEKA.UA.Models.Product> ProductList = m.Products.ToList();
            }

            @foreach (IPOTEKA.UA.Models.Bank b in BankList)
        {
                <fieldset hidden>
                    <legend>@b.Name</legend>
                    @foreach (IPOTEKA.UA.Models.ProductBank p in b.Products)
                {
                        <label class=@b.Name.Replace(" ","")>@ProductList.Find(x => x.ProductID == p.RelProduct).Name</label>
                        <label class=@b.Name.Replace(" ","")>@Convert.ToString(p.Rate).Replace(",", ".")</label>
                        <label class=@b.Name.Replace(" ","")>@Convert.ToString(p.Commission).Replace(",", ".")</label>
                        <label class=@b.Name.Replace(" ","")>@Convert.ToString(p.Commission).Replace(",", ".")</label>
                        <label class=@b.Name.Replace(" ","")>@Convert.ToString(p.MaxSumCred).Replace(",", ".")</label>
                        <label class=@b.Name.Replace(" ","")>@p.MinTermCred</label>
                        <label class=@b.Name.Replace(" ","")>@p.MaxTermCred</label>
                }
                </fieldset>
                    }
        </div>
    }
</div>

<script src="~/Scripts/Calculations.js"></script>
<script src="~/Scripts/Ipoteka.js"></script>